.cart-dropdown {
  position: absolute;
  top: 70px;
  right: 0;
  width: 240px;
  height: 340px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow-y: auto;
  animation: popup 0.2s;

  &::-webkit-scrollbar-track {
    border-radius: 6px;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #bcc0c4;
  }

  .empty-message {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 50px auto;
  }

  .custom-button {
    margin-top: auto;
  }
}
@keyframes popup {
  from { height: 0;}
  to { height: 340px;}
}