.cart-dropdown {
  position: absolute;
  top: 80px;
  right: 0;
  width: 240px;
  height: 340px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow-y: auto;
  animation: popup 0.2s;

  .custom-button {
    margin-top: auto;
  }
}
@keyframes popup {
  from { height: 0;}
  to { height: 340px;}
}