.custom-button {
  min-width: 165px;
  padding: 0 15px;
  line-height: 50px;
  font-size: 15px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: inherit;
  font-weight: bolder;
  border: none;
  border-radius: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
  }
  &.google-sign-in {
    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: white;
    
    &:hover {
      background-color: #357ae8;
    }
  }

  &.inverted {
    color: black;
    background-color: white;
    border: 1px solid black;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}